<html>
    <head>
        <style>
        body {
            padding: 10px;
        }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h2>Lets play the game</h2>
        <div class="row">
            <p class="d-inline-block col-1 border">str</p>
            <p class="d-inline-block col-1 border">int</p>
            <p class="d-inline-block col-1 border">wis</p>
            <p class="d-inline-block col-1 border">dex</p>
            <p class="d-inline-block col-1 border">con</p>
            <p class="d-inline-block col-1 border">cha</p>
        </div>
        <div class="row">
            <p class="d-inline-block col-2 offset-1 border">HP</p>
            <p class="d-inline-block col-2 border">AC</p>
        </div>
        <div class="row">
            <p class="offset-1 p-3">attack</p>
            <select class="col-1">
                <option>melee</option>
                <option>spell</option>
            </select>
            <p class="p-3">with</p>
            <select class="col-1">
                <option>slash</option>
                <option>fire</option>
            </select>
            <p class="p-3">at</p>
            <select class="col-1">
                <option>vital</option>
                <option>area affect</option>
            </select>
        </div>
    </body>
</html>